*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo de las tarjeta de collection */

.tarjeta_propiedades{
    width: 400px;
    padding: 3rem;
    background-color: rgb(199, 214, 209);
    border-radius: 10px ;

    .img_head{
        height: 100%;
    }

}

/* estilo de las tarjetas */
.card_info{
    padding-top: 3rem;
    
}
.card:hover{
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.411);
}

.boton_conocer_mas{
    text-decoration: none;
    color: #ffffff;
}

/* estilos oficina */
.oficina{
    text-align: center;
    padding-top: 3rem;
}
@media (max-width: 768px){
    .mapa_desktop{
        display: none;
    }
}


/* estilos del footer */
footer{
    margin-top: 4rem;
    height: 500px;
    text-align: center;

}
.social_media{
    margin-top: 20px;
    
}

.instagram{
    display: inline-block;
}
.logos{
    width: 30px;
}

@import "franquicias";